:root {
  --color: #cee002;
}

section.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 140px 0px;
  height: 660px;
  padding: 0 20px;
}

.about .left-side {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  height: 100%;
  justify-content: space-between;
  max-width: 540px;
  margin-right: 100px;
}

.left-side strong {
  color: var(--color);
}

.about .right-side img {
  max-width: 100%;
}

@media (max-width: 1100px) {
  section.about {
    flex-direction: column;
    margin-top: 60px;
    height: 100%;
  }

  .about .left-side {
    margin-right: 0;
    margin-bottom: 40px;
    height: 420px;
  }
}

@media (max-width: 530px) {
  .about .left-side {
    height: 480px;
  }
}

@media (max-width: 340px) {
  .about .left-side {
    height: 520px;
  }
}
.experience {
  width: 150px;
  height: 150px;

  border: 4px solid var(--color);
  position: relative;
}

.experience-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 10%;
}
.experience-number {
  font-family: "Poppins-Bold";
  font-size: 80px;
}
.experience-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.carousel .slider-image {
  width: 100%;
  height: 90vh;

  display: none;
}

.slider-image img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.carousel {
  position: relative;
}

.slider-config {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-config i {
  font-size: 58px !important;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 8px var(--color);
  transition: color 0.4s ease;
}

.slider-config i:hover {
  color: var(--color);
}

i.icon-arrow-next {
  margin-right: 30px;
}

i.icon-arrow-back {
  margin-left: 30px;
}

.carousel .slider-image.active {
  display: flex;
  position: relative;
}

.slider-image-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border: 3px solid var(--color);
  height: 50vh;
  width: 20vw;
  padding: 20px;
  top: 20%;
  left: 10%;
  cursor: pointer;
}

.slider-image-text i {
  color: white;
  margin-left: 25px;

  position: relative;
  top: 3px;
}

.slider-page {
  position: absolute;
  display: flex;

  bottom: 10%;
  right: 10%;
}

.slider-page .page {
  width: 25px;
  height: 5px;
  background-color: #999;
  transition: background-color 0.4s ease;

  margin: 0 5px;
}

.slider-page .page.active {
  background-color: var(--color);
}

section.clients {
  display: flex;
  flex-direction: column;
}

.clients > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 1280px;
}

@media (max-width: 1380px) {
  .clients > .top {
    width: 1100px;
  }
}

@media (max-width: 1170px) {
  .clients > .top {
    width: 900px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 950px) {
  .clients > .top {
    width: 780px;
  }
}

@media (max-width: 820px) {
  .clients > .top {
    width: 100%;
  }
}

.clients-item {
  position: relative;
  color: #999;

  width: 421.5px;
  position: relative;
  background-color: #f7f7f7;
  padding: 80px 40px;
  margin-top: 80px;
  margin-right: 15px;
  margin-left: 15px;
}

.clients-item img {
  height: 92px;
  width: 92px;

  position: absolute;
  top: -41px;

  border-radius: 50%;
}

.clients p {
  margin-top: 15px;
}

.clients-name-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clients-name {
  color: black;
  font-size: 18px;
  margin-right: 5px;
}

section.clients .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 15px;
}

@font-face {
  font-family: Ionicons;
  src: url("../fonts/ionicons.ttf");
}

@font-face {
  font-family: Poppins-Black;
  src: url("../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-LightItalic;
  src: url("../fonts/Poppins-LightItalic.ttf");
}

footer.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: 0.5px solid #999;
}

.footer-item .brand-container {
  display: flex;
  align-items: center;
}

.footer-item .brand-container img {
  width: 33px;
  height: 33px;
}
.footer-item .brand-container .brand {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.footer-item .brand-container .brand h3 {
  line-height: 10px;
  font-size: 16px;
}
.footer-item .brand-container .brand p {
  line-height: 12px;
}

footer.footer > .footer-item {
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}

@media (max-width: 880px) {
  footer.footer > .footer-item {
    margin: 40px 20px;
  }
}

footer.footer > .footer-item a {
  font-family: "Poppins-Regular";
  font-size: 14px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: color 0.4s ease;
}

footer.footer > .footer-item a:hover,
footer.footer > .footer-item a.active {
  color: var(--color);
}

body {
  margin: 0 60px;
}

@media (max-width: 880px) {
  body {
    margin: 0 20px;
  }
}

html {
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Poppins-Regular";
  font-size: 14px;
}

p.bold,
strong,
a {
  font-family: "Poppins-Bold";
}

h2 {
  font-family: "Poppins-Bold";
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

h3 {
  font-family: "Poppins-Bold";
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

p.lightitalic {
  font-family: "Poppins-LightItalic";
  margin: 0;
}

.header-container {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.left-header {
  display: flex;
  align-items: center;
}

.left-header img {
  width: 28px;
  height: 28px;
}

.left-header .brand {
  margin-left: 5px;
}
.left-header .brand h3 {
  line-height: 10px;
  font-size: 16px;
}
.left-header .brand p {
  line-height: 12px;
}

.header-separator {
  height: 40px;
  width: 1px;
  background-color: #999;
  margin: 0 20px;
}

.right-header {
  display: flex;
  align-items: center;
}

.right-header .social a {
  text-decoration: none;
}

@media (max-width: 660px) {
  .right-header p,
  .header-separator {
    display: none;
  }
}

@media (max-width: 320px) {
  .right-header .social {
    display: none;
  }
}

.icon-twitter::before {
  content: "\f243";
}
.icon-facebook::before {
  content: "\f231";
}
.icon-google::before {
  content: "\f235";
}
.icon-linkedin::before {
  content: "\f239";
}

.icon-dribble::before {
  content: "\f22c";
}

.icon-arrow::before {
  content: "\f3d3";
}

.icon-arrow-back::before {
  content: "\f360";
}

.icon-arrow-next::before {
  content: "\f362";
}

.icon-twitter,
.icon-facebook,
.icon-google,
.icon-linkedin,
.icon-dribble,
.icon-arrow,
.icon-arrow-back,
.icon-arrow-next {
  display: inline-block;
  font-family: "Ionicons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 20px !important;
}

.icon {
  color: black;
  cursor: pointer;

  transition: color 0.2s ease;
}

.icon:hover {
  color: var(--color);
}

.icon:not(:first-of-type) {
  margin-left: 15px;
}

section.news {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
}

.news > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 1280px;
}

@media (max-width: 1380px) {
  .news > .top {
    width: 1100px;
  }
}

@media (max-width: 1170px) {
  .news > .top {
    width: 900px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 950px) {
  .news > .top {
    width: 780px;
  }
}

@media (max-width: 820px) {
  .news > .top {
    width: 100%;
  }
}

section.news .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 15px;
}

.news-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  height: 370px;
  width: 370px;
  border: 2px solid white;

  margin: 15px;
}

.news-item-hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.news-item:hover {
  border: 2px solid var(--color);
}
.news-item:hover .news-item-hover {
  background-color: white;
}

.news-item-time {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.news-item:hover .news-item-time {
  color: #999;
}

.news-item-title {
  margin-left: 20px;
  margin-right: 20px;
  transform: translateX(-80px);
  transition: transform 1s ease;
}

.news-item:hover .news-item-title {
  transform: translateX(0px);
  color: black;
}

.news-item-description {
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(-20px);
  transition: transform 1s ease;
}

.news-item:hover .news-item-description {
  transform: translateY(0px);
  color: black;
}

.news-item-continue {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.news-item:hover .news-item-continue {
  color: var(--color);
}

.news-item-time,
.news-item-title,
.news-item-description,
.news-item-continue {
  color: transparent;
}

.news-item:hover .news-item-time,
.news-item:hover .news-item-title,
.news-item:hover .news-item-description,
.news-item:hover .news-item-continue {
  display: inline-block;
}

section.projects {
  display: flex;
  flex-direction: column;
  margin: 100px 0px;
}

.projects > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 1280px;
}

@media (max-width: 1380px) {
  .projects > .top {
    width: 1100px;
  }
}

@media (max-width: 1170px) {
  .projects > .top {
    width: 900px;
    flex-direction: column;
    align-items: flex-start;
  }
  .top > .top-right {
    margin-top: 15px;
  }
}

@media (max-width: 950px) {
  .projects > .top {
    width: 780px;
  }
}

@media (max-width: 820px) {
  .projects > .top {
    width: auto;
  }
}

.top > .top-right {
  display: flex;
  justify-content: space-between;
}

.top-right p {
  cursor: pointer;
  transition: color 0.4s ease;
}

.top-right p:not(:first-of-type) {
  margin-left: 10px;
}

.top-right p.active {
  color: var(--color);
}

.top-right p:hover {
  color: var(--color);
}

section.projects .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 15px;
}

section.projects .bottom .projects-item {
  width: 360px;
  height: 480px;

  margin: 15px;

  cursor: pointer;
  position: relative;
}

.projects-item img {
  width: 100%;
  height: 100%;
}

.projects-item .projects-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.projects-hover:hover {
  background: rgba(206, 224, 2, 0.85);
}

.projects-hover .projects-title {
  position: absolute;
  bottom: 50px;
  color: white;
  margin-right: 110px;
  margin-left: 20px;
}

.projects-hover:hover .projects-title {
  top: 30px;
  color: black;
}

.projects-hover .projects-description {
  margin: 0 20px;
  display: none;
}

.projects-hover:hover .projects-description {
  position: absolute;
  color: black;
  top: 200px;
  display: flex;
}

.projects-hover .more {
  color: white;
  position: absolute;
  bottom: 20px;
  margin: 0 20px;

  text-decoration: none;
}

.projects-hover .more i {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.projects-hover:hover .more {
  color: black;
}



